<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Chat</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/chat.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
</head>

<body>

    <h1 class="center-align heading">E2E Secure Chatroom</h1>
    <div class="row">
        <div class="col-6 message-form">
            
            Send&nbsp;To&nbsp;&nbsp;&nbsp;<input type="text" id="send_to_username"> <br> <br> 
            Message&nbsp;<input type="text" id="private_message"> <br> <br> 
            <button id="send_private_message">Send</button>
        </div>

        <!-- <form action = "http://localhost:5000/uploader" method = "POST" 
             enctype = "multipart/form-data">
             <input type = "file" name = "file" />
             <input type = "submit"/>
        </form> -->
        <div class="col-1"></div>
        <div class="col-4">
            <form action="/uploader" method="POST">
                <div class="file-upload">
                    <div class="file-select">
                        <div class="file-select-button" id="fileName">Choose File</div>
                        <div class="file-select-name" id="noFile">No file chosen...</div> 
                        <input type="file" name="chooseFile" id="chooseFile">
                    </div>
                </div>
                <br/>
                <button id="submit">Submit</button>
            </form>
        </div>
        <div class="col-1"></div>
    </div>

    <ul id="messages"></ul>

<script>
    $(document).ready(function () {

        var socket = io.connect('http://127.0.0.1:5000');
        var socket_messages = io('http://127.0.0.1:5000/messages')
       
        $('#send').on('click', function () {
            var message = $('#message').val();

            socket_messages.emit('message from user', message);

        });

        socket_messages.on('from flask', function (msg) {
            alert(msg);
        });

        var private_socket = io('http://127.0.0.1:5000/private')
        var re=new RegExp(name+"=([^;]+)");
	    var value=re.exec(document.cookie);
	    username=value[1]
        private_socket.emit('username', username);

        $('#send_private_message').on('click', function () {
            var recipient = $('#send_to_username').val();
            var message_to_send = $('#private_message').val();
            private_socket.emit('private_message', { 'username': recipient, 'message': encodeString(message_to_send) });
        });
        //display who sent the message as well.
        private_socket.on('new_private_message', function (msg) {
            $("#messages").append('<li>' + decodeString(msg) + '</li>');
        });
    });
</script>
<script type="text/javascript">
    //this function needs to be rewritten with a stronger encryption scheme.
    function encodeString(str)
    {
        var result = escape(str);    
        return result;
    }
    function decodeString(str)
    {
        var result=unescape(str);
        return result;
    }

</script>
</body>
</html>
