<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Chat</title>
</head>

<body>
    <h1>Messenger App</h1>
    <!--<input type="text" id="message">
    <button id="send">Send</button>-->
    <br><br>
    <input type="text" id="username">
    <button id="send_username">Send Username</button>

    <br>
    <br>
    <br> 
    Send To: <input type="text" id="send_to_username"> <br> <br> 
    Message: <input type="text" id="private_message"> <br> <br> 
    <button id="send_private_message">Send</button>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>

    <ul id="messages"></ul>
    <form action = "http://localhost:5000/uploader" method = "POST" 
         enctype = "multipart/form-data">
         <input type = "file" name = "file" />
         <input type = "submit"/>
      </form>


<script src="{{url_for('static', filename='userCookie.js')}}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
<!-- <script>
            window.onload = function(){
                document.getElementById('welcome').innerHTML = "Welcome " + getCookie("username");
            }
                </script> -->
<script src="http://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {

        var socket = io.connect('http://127.0.0.1:5000');

        var socket_messages = io('http://127.0.0.1:5000/messages')

        $('#send').on('click', function () {
            var message = $('#message').val();

            socket_messages.emit('message from user', message);

        });

        socket_messages.on('from flask', function (msg) {
            alert(msg);
        });


        var private_socket = io('http://127.0.0.1:5000/private')

        $('#send_username').on('click', function () {
            private_socket.emit('username', $('#username').val());
        });

        $('#send_private_message').on('click', function () {
            var recipient = $('#send_to_username').val();
            var message_to_send = $('#private_message').val();
            private_socket.emit('private_message', { 'username': recipient, 'message': encodeString(message_to_send) });
        });

        private_socket.on('new_private_message', function (msg) {
            $("#messages").append('<li>' + decodeString(msg) + '</li>');
        });
    });
</script>
<script type="text/javascript">
    //this function needs to be rewritten with a stronger encryption scheme.
    function encodeString(str)
    {
        var result = escape(str);    
        return result;
    }
    function decodeString(str)
    {
        var result=unescape(str);
        return result;
    }

</script>
</body>
</html>
