<html>
<head>
	<script src="{{url_for('static', filename='userCookie.js')}}"></script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/login.css') }}">
</head>
<body>
	<!--<h3>Login Page</h3>	
	<form name="loginForm" action="/chat" onsubmit="return storeValues(this);">
		<div class="container">
			Enter Username:<input type="text" id="username"><br>
			<button id="send_username" onclick=store_cookie()>Login</button>
		</div>
	</form>-->
	<script type="text/javascript">
		function store_cookie()
		{
			var userInput = document.getElementById("username").value;
			setCookie("Username",userInput,30);
            checkCookie();
		}

		if (username = getCookie("username"))
			document.loginForm.username.value = username;
	</script>

	<div class="al"></div>
	<br/><br/>
	<div class="heading">E2E Secure Chat</div><br/><br/><br/><br/>
	<div class="container">
		<form name="loginForm" action="/chat" onsubmit="return storeValues(this);">
			<input id='username' size="40" class='text' onfocus="handle2()" class='inc2' type="text" name="Username" placeholder='Username' value=""><br/><br/>
			<button id="send_username" onclick=store_cookie()>Check In</button>
		</form>
	</div>
</body>
</html>
